/*Google Material icon web fonts*/
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(../fonts/MaterialIcons-Regular.woff) format('woff'),
    url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';

}

a.material {
    padding: 0 5px 0 0 !important;
}

/* /Google Material icon web fonts*/


.blue-bg{
    background-color: #0c82df;
    background: -webkit-linear-gradient(top, #0288d1 0%, #c9dbe9 100%);
    background: -linear-gradient(top, #0288d1 0%, #c9dbe9 100%);
    background: -moz-linear-gradient(top, #0288d1 0%, #c9dbe9 100%);
}
.page-content{
    overflow: hidden;
}
span.version{
    position: fixed;
    bottom: 0.5em;
    right: 0.5em;
}
#cloud {
    width: 350px; height: 120px;

    background: #f2f9fe;
    background: linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
    background: -webkit-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
    background: -moz-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
    background: -ms-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
    background: -o-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);

    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;

    position: relative;
    margin: 120px auto 20px;
}

#cloud:after, #cloud:before {
    content: '';
    position: absolute;
    background: #f2f9fe;
    z-index: -1
}

#cloud:after {
    width: 100px; height: 100px;
    top: -50px; left: 50px;

    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
}

#cloud:before {
    width: 180px; height: 180px;
    top: -90px; right: 50px;

    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
}

.shadow {
    width: 350px;
    position: absolute;
    bottom: -10px;
    background: #000;
    z-index: -1;

    box-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.4);
}
.align-center{
    margin: 0 auto;
}
#selectLevelButton{
    position: absolute;
    bottom: 3em;
    left: 25%;
}
.balloon-row{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20% auto 0 auto;
    /* patlama efekti*/
    position: relative;
}
.balloon{
    background-size: 100%;
    width: 100px;
    height: 130px;
    float: left;
    text-align: center;
    cursor: pointer;
}
.balloonDiv{
    width: 100px;
    height: 130px;
}

.balloon div span {
    color: #fff;
    font-size: 1.3em;
    font-weight: bold;
    position: relative;
    top: 10%;
}
.balloon div{
    background: url('../img/redBalloon_130x463.png');
    background-size: 100%;
    z-index: 9999999;
    color: #fff;
    font-size: 1em;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: absolute;
    top: auto;
    left: 0;
    -webkit-transition: -webkit-transform 1.4s ease-in, background 0.3s ease-in;
    transition: transform 1.4s ease-in, background 0.3s ease-in;
}
.balloon, .balloon div {
    width: 100px;
    height: 355px;
    position: relative;
}
.balloon div {
    position: absolute;
    top: auto;
    left: 0;
    /*background: #4F9CC7;*/
    -webkit-transition: -webkit-transform 1.4s ease-in, background 0.3s ease-in;
    transition: transform 1.4s ease-in, background 0.3s ease-in;
    /*-------------*/
    background: url('../img/redBalloon_130x463.png');
    background-size: 100%;
}
.clearfix{
    clear: both;
}
.question {
    font-size: 1.5em;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    width: 80%;
    position: relative;
    top:0;
}
.divide.question {
    position: static;
    width: 90px;
}

.divide.question .firstNumber {
    width: 40px;
    float: left;
    border-right: 2px solid;
    height: 80px;
    padding-right: 5px;
}
.divide.question .secondRow {
    border-bottom: 2px solid;
    /* margin: 0 auto; */
    text-align: right;
    width: 40px;
    float: left;
}
.divide.question .operation{
    display: none;
}
.firstNumber {
    margin: 0 auto;
    text-align: right;
    width: 40%;
}

.secondRow {
    border-bottom: 2px solid;
    margin: 0 auto;
    text-align: right;
    width: 40%;
}

.operation {
    float: left;
    margin: 0 auto;
    text-align: left;
    width: 40%;
}

.gameover {
    font-size: 1.7em;
    position: relative;
    text-align: center;
    top: 10px;
}

.leaderBoardTitle {
    font-size: 1.4em;
    text-align: center;
}

.restartButtonRow{
    bottom: 0;
    position: absolute;
    width: 90%;
}
.feedback {
    color: #fff;
    font-size: 6em;
    height: 100%;
    margin: 0 auto;
    padding: 50% 0;
    position: relative;
    text-align: center;
    text-shadow: 1px -2px 8px #000;
    width: 100%;
    -webkit-animation-name: feedback; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    animation-name: feedback;
    animation-duration: 1s;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes feedback {
    from {padding: 50% 0;}
    to {padding: 0% 0;}
    from{font-size: 6em;}
    to{font-size: 0em;}
}

/* Standard syntax */
@keyframes feedback {
    from {padding: 50% 0;}
    to {padding: 0% 0;}
    from{font-size: 6em;}
    to{font-size: 0em;}
}

#leaderBoardImage{
    height: 100px;
    display: block;
}
/* Small phone */
@media screen and (min-width: 320px) {
    #cloud {
        height: 55px;
        margin-top: 20%;
        width: 170px;
    }
    #cloud:before{
        height: 80px;
        right: 21px;
        top: -40px;
        width: 80px;
    }
    #cloud:after{
        height: 60px;
        left: 25px;
        top: -25px;
        width: 60px;
    }
    .shadow{
        width: 190px;
    }
    .balloon-row{
        margin-top: 10%;
    }

    .balloon{
        width: 50px;
        height: 175px;
    }
    .balloon, .balloon div {
        width: 50px;
        height: 175px;
    }

    .balloon div span {
        color: #fff;
        font-size: 1.3em;
        font-weight: bold;
        position: relative;
        top: 10%;
    }

    .balloonDiv{
        width: 50px;
        height: 65px;
    }
    .question {
        top:-25px;
    }
    .gameover{
        top:10px;
        font-size: 2em;
    }
    .infoImage{
        width: 125px;
    }
    .divide.question {
        position: relative;
        top: -5px;
        width: 90px;
    }
    .divide.question .firstNumber {
        border-right: 2px solid;
        float: left;
        height: 50px;
        padding-right: 5px;
        width: 40px;
    }
    .divide.question .secondRow {
        border-bottom: 2px solid;
        float: left;
        height: 27px;
        margin: 0 auto;
        text-align: right;
        width: 25px;
        padding-left: 3px;
    }
    #leaderBoardImage{
        height: 80px;
        display: block;
    }
}
/* Standart phone */
@media screen and (min-width: 360px) {
    #cloud {
        width: 300px; height: 100px;
        margin-top: 30%;
    }
    #cloud:before{
        height: 150px;width: 150px;
        top:-65px;
        right: 30px;
    }
    #cloud:after{
        width: 90px;height: 90px;
        top:-35px;
        left: 50px;
    }
    .shadow{
        width: 300px;
    }
    .balloon-row{
        margin-top: 15%;
    }

    .balloon{
        width: 60px;
        height: 210px;
    }
    .balloon, .balloon div {
        width: 60px;
        height: 210px;
    }
    .balloonDiv{
        width: 60px;
        height: 78px;
    }
    .balloon div span {
        color: #fff;
        font-size: 1.5em;
        font-weight: bold;
        position: relative;
        top: 10%;
    }
    .question {
        top:-25px;
        font-size: 2em;
    }
    .gameover{
        top:25px;
        font-size: 2.5em;
    }
    .infoImage{
        width: 150px;
    }
    .divide.question {
        position: relative;
        top: 5px;
        width: 90px;
    }
    .divide.question .firstNumber {
        border-right: 2px solid;
        float: left;
        height: 70px;
        padding-right: 5px;
        width: 40px;
    }
    .divide.question .secondRow {
        border-bottom: 2px solid;
        float: left;
        height: 40px;
        margin: 0 auto;
        text-align: right;
        width: 30px;
        padding-left: 3px;
    }
    #leaderBoardImage{
        height: 100px;
        display: block;
    }
}
/* Tablet */
@media screen and (min-width: 768px) {
    #cloud {
        width: 450px; height: 160px;
        margin-top: 25%;
    }
    #cloud:before{
        height: 210px;width: 210px;
        top:-85px;
        right: 45px;
    }
    #cloud:after{
        width: 170px;height: 170px;
        left: 65px;
        top:-55px;
    }
    .shadow{
        width: 450px;
    }
    .balloon-row{
        margin-top: 20%;
    }

    .balloon{
        height: 355px;
        width: 100px;
    }
    .balloon, .balloon div {
        width: 100px;
        height: 355px;
    }
    .balloonDiv{
        height: 130px;
        width: 100px;
    }
    .balloon div span {
        color: #fff;
        font-size: 2.5em;
        font-weight: bold;
        position: relative;
        top: 10%;
    }
    .question {
        top:-15px;
        font-size: 3.5em;
    }
    .gameover{
        top:55px;
        font-size: 3em;
    }
    .leaderBoardTitle{
        font-size: 2.4em;
    }
    .restartButtonRow{
        width: 95%;
    }
    .infoImage{
        width: 200px;
    }
    .divide.question {
        position: relative;
        top: 5px;
        width: 110px;
    }
    .divide.question .firstNumber {
        border-right: 2px solid;
        float: left;
        height: 110px;
        padding-right: 10px;
        width: 45px;
    }
    .divide.question .secondRow {
        border-bottom: 2px solid;
        float: left;
        height: 60px;
        margin: 0 auto;
        text-align: right;
        width: 45px;
        padding-left: 8px;
    }
    #leaderBoardImage{
        height: 120px;
        height: 120px;
        display: block;
    }

}

