<div data-page="index" class="page navbar-fixed">
    <!-- Top Navbar-->
    <div class="navbar">
        <div class="navbar-inner">
            <!-- We have home navbar without left link-->
            <div class="left"></div>
            <div class="center">Bulutta Matematik</div>
            <div class="right">
                <!-- Right link contains only icon - additional "icon-only" class-->
                <a href="#" data-panel="right" class="open-panel link icon-only">
                    <i class="icon icon-bars"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- Scrollable page content-->
    <div class="page-content blue-bg">
        <div class="content-block">
            <div id="cloud"><span class='shadow'></span></div>

            <div class="row">
                <!-- Seviye seçme butonu -->
                <div id="selectLevelButton" class="list-block col-50 align-center">
                    <p class=" buttons-row ">
                    <ul class="button button-fill button-raised button-big">
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-input">
                                        <input style="color: #ffffff;text-align: center;cursor: pointer;" type="text"
                                               value="Seviye Seç"
                                               readonly id="picker-describe"
                                               name="level">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    </p>
                    <p class="buttons-row">
                        <a id="startButton" href="#" class="button button-fill button-big">Başla</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>