<!-- Game Over Page -->
<div data-page="leaderBoard" class="page cached navbar-fixed">
    <!-- Top Navbar-->
    <div class="navbar">
        <div class="navbar-inner">
            <!-- We have home navbar without left link-->
            <div class="left">
                <a href="#" class="link icon-only back">
                    <i class="icon icon-back"></i>
                </a>
            </div>
            <div class="center">Lider Tablosu</div>
            <div class="right">
                <!-- Right link contains only icon - additional "icon-only" class-->
                <a href="#" data-panel="right" class="open-panel link icon-only">
                    <i class="icon icon-bars"></i>
                </a>
            </div>
        </div>
    </div>
    <a id="clearLeaderBoard" href="#" class="floating-button color-blue">
        <i class="material-icons">delete</i>
    </a>
    <!-- Scrollable page content-->
    <div class="page-content">
        <div class="content-block">
            <img id="leaderBoardImage" src="img/leaderboardB.jpg" class="align-center ">
        </div>
        <div id="leaderBoardList"></div>
    </div>
</div>