<!-- Game Over Page -->
<div data-page="gameOver" class="page cached navbar-fixed">
    <!-- Top Navbar-->
    <div class="navbar">
        <div class="navbar-inner">
            <!-- We have home navbar without left link-->
            <div class="left"></div>
            <div class="center">Bulutta Matematik</div>
            <div class="right">
                <!-- Right link contains only icon - additional "icon-only" class-->
                <a href="#" data-panel="right" class="open-panel link icon-only">
                    <i class="icon icon-bars"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- Scrollable page content-->
    <div class="page-content blue-bg">
        <div class="content-block">
            <div id="cloud"><span class='shadow'></span>

                <div class="gameover">Oyun Bitti</div>
            </div>
            <div class="leaderBoardTitle"> Sıralamadaki yeriniz</div>
            <div id="positionInTheRanking">

            </div>
            <p class="buttons-row restartButtonRow">
                <a id="restartButton" href="#" class="button button-fill button-big">Yeniden Oyna</a>
            </p>
        </div>
    </div>
</div>