<!-- Game Page -->
<div data-page="game" class="page cached navbar-fixed">
    <!-- Top Navbar-->
    <div class="navbar">
        <div class="navbar-inner">
            <!-- We have home navbar without left link-->
            <div class="left">
                <a class="link" href="#">
                    <i class="material-icons">access_time</i>

                    <p id="showTimer"></p>
                </a>
            </div>
            <div class="center"><span id="score">0</span></div>
            <div class="right">
                <!-- Right link contains only icon - additional "icon-only" class-->
                <a href="#" data-panel="right" class="open-panel link icon-only">
                    <i class="icon icon-bars"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- Scrollable page content-->
    <div class="page-content blue-bg">
        <div class="content-block">
            <!-- Game -->
            <div id="cloud"><span class='shadow'></span>

                <div class="question">
                    <div class="firstNumber"></div>
                    <div class="secondRow">
                        <div class="operation"></div>
                        <span style="width: 60%; float: left;" class="secondNumber"></span>

                        <div class="clearfix"></div>
                    </div>

                </div>
            </div>
            <div class="balloon-row">
                <div id="balloon1" class="col-25 balloonDiv"></div>
                <div id="balloon2" class="col-25 balloonDiv"></div>
                <div id="balloon3" class="col-25 balloonDiv"></div>
                <div id="balloon4" class="col-25 balloonDiv"></div>
            </div>

        </div>
    </div>
</div>