<div class="view navbar-fixed">
    <div class="pages">
        <div class="page">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="center">Bilgi</div>
                    <div class="right"><a href="#" class="link close-popup"><i class="material-icons">cancel</i></a>
                    </div>
                </div>
            </div>
            <div class="page-content">
                <div class="content-block">
                    <div class="content-block">
                        <div class="row">

                            <p class="modal-text">Bu oyun ilköğretim öğrencilerinin matematik işlem yeteneğini
                                geliştirmek için
                                hazırlanmıştır.</p>


                            <p class="modal-title col-100" style="text-align: center">Geliştirici</p>

                            <p class="modal-text col-60 align-center" style="text-align: center">
                                <img src="https://tr.gravatar.com/userimage/21959773/e527ff8128fa9b76c5a44f56a6157cce.jpg?size=200"
                                     class="infoImage">
                                <p class="modal-text col-100" style="text-align: center">Samet ATABAŞ</p><br>
                                <a href="http://gencbilisim.net" class="external"><img
                                        src="img/social/WordPress.svg"></a>
                                <a href="mailto:sametatabasch@gmail.com?subject=Matematik oyunu İletişim"
                                   class="external"><img
                                        src="img/social/Mail.svg"></a>
                                <a href="https://facebook.com/sametatabasch" class="external"><img
                                        src="img/social/Facebook.svg">
                                </a>
                                <a href="https://twitter.com/sametatabasch" class="external"><img
                                        src="img/social/Twitter.svg"> </a>
                                <a href="https://plus.google.com/u/0/+SametATABAŞ" class="external"><img
                                        src="img/social/Google_.svg"> </a>
                                <a href="https://tr.linkedin.com/in/sametatabasch" class="external"><img
                                        src="img/social/LinkedIn.svg"></a>
                            </p>

                            <span class="version"></span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
